* {
  margin: 0;
  padding: 0;
  border: none;
}

.before-load * {
  transition: none !important;
}

:root {
  --background: blue;
}

body {
  margin: 0px;
  color: var(--foreground);
  font-family: sans-serif;
}

#iframe-container {
  width: 100%;
  height: 100%;
  border: 0px;
  background: var(--background);
  flex: 1;
  position: relative;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0px;
}

#video-container {
  height: 100%;
  min-height: 0;
  flex: 1;
  background: black;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  transition: max-height 0.5s ease;
  max-height: calc(50% - 30px);
}

#video-container.minimize {
  max-height: 0;
}

#snap-effect {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0px solid white;
  box-sizing: border-box;
  left: 0;
  top: 0;
  pointer-events: none;
}

#snap-effect.snap {
  animation: pulse 0.5s ease;
}

@keyframes pulse {
  50% {
    border: 10px solid white;
  }
}

video {
  background: black;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

video.fit {
  object-fit: cover;
}

.flip-horizontal {
  transform: rotateY(180deg);
}

.page-container {
  background: pink;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.site-label {
  text-align: center;
  font-family: sans-serif;
  border-width: 1px 0px;
  background: var(--alternate);
  padding: 6px 0px;
  color: var(--foreground);
  display: flex;
  justify-content: space-between;
  gap: 5px;
  position: relative;
}

.site-label a {
  color: var(--foreground);
}

.site-label > :not(:nth-child(2)) {
  padding: 0px 10px;
}

#site-url {
  font-weight: bold;
}

#take-photo {
  position: absolute;
  bottom: 8px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(80px);
  transition: transform 0.35s ease;
}

.live #take-photo {
  transform: none;
}

#take-photo:before {
  content: "";
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 3px solid var(--foreground);
  box-sizing: border-box;
}

#take-photo:after {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  box-sizing: border-box;
  background: var(--foreground);
}

#take-photo:active:after {
  background: #ffffffcc;
}

.top-buttons {
  position: absolute;
  display: flex;
  gap: 5px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.top-buttons button:nth-child(2) {
  margin-right: auto;
}

.top-buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--background);
  transform: translateY(-50px);
  transition: transform 0.35s ease;
  fill: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes unblur {
  from {
    filter: blur(10px);
  }
}

.unblur {
  animation: unblur 0.2s ease;
}

@keyframes flip {
  from {
    filter: none;
    transform: rotateY(0deg);
  }
  40% {
    filter: blur(10px);
    transform: rotateY(72deg);
  }
  50% {
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  50.1% {
    transform: rotateY(270deg);
    filter: blur(10px);
  }
  to {
    transform: rotate(359.99deg);
    filter: blur(10px);
  }
}

@keyframes flipReverse {
  from {
    filter: none;
    transform: rotateY(0deg);
  }
  40% {
    filter: blur(10px);
  }
  to {
    transform: rotateY(180deg);
    filter: blur(10px);
  }
}

@keyframes trueFlipReverse {
  from {
    filter: none;
    transform: rotateY(180deg);
  }
  40% {
    filter: blur(10px);
  }
  to {
    transform: rotateY(0deg);
    filter: blur(10px);
  }
}

.flip {
  animation: flip 0.5s linear;
  animation-fill-mode: forwards;
}

.flip.flip-horizontal {
  animation: flipReverse 0.5s linear;
  animation-fill-mode: forwards;
}

.flip-reverse {
  animation: trueFlipReverse 0.5s linear;
  animation-fill-mode: forwards;
}

#open-camera,
.side-buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--background);

  transition: transform 0.35s ease;
  fill: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--foreground);
}

.side-buttons {
  position: absolute;
  left: 5px;
  bottom: 5px;
  display: flex;
  gap: 5px;
  transition: transform 0.35s ease;
}

#open-camera {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#open-camera svg,
.side-buttons button svg {
  width: 24px;
  height: 24px;
}

.hide-side #open-camera {
  transform: translateX(50px);
}

.hide-side .side-buttons {
  transform: translateX(-100px);
}

.top-buttons svg {
  width: 28px;
  height: 28px;
}

.top-buttons :nth-child(2) {
  transition-delay: 36ms;
}

.top-buttons :nth-child(3) {
  transition-delay: 108ms;
}

.top-buttons :nth-child(4) {
  transition-delay: 144ms;
}

.top-buttons :nth-child(5) {
  transition-delay: 180ms;
}

.live .top-buttons button {
  transform: none;
}

#settings-menu {
  position: absolute;
  right: 5px;
  background: var(--background);
  padding: 16px;
  border-radius: 16px;
  width: min(240px, calc(100% - 10px));
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  gap: 10px;
  transition: opacity 0.25s ease, transform 0.25s ease,
    display 0.25s ease allow-discrete;
  transform: scale(1);
  transform-origin: top center;
  z-index: 1;
}

@starting-style {
  #settings-menu {
    transform: scale(0.1);
    opacity: 0;
    display: flex;
  }
}

#settings-menu.hidden {
  transform: scale(0.1);
  opacity: 0;
  display: none;
}

.settings-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  margin-top: -6px;
}

#close-settings {
  fill: var(--foreground);
  padding: 10px;
  margin: -10px;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}

#settings-menu label {
  padding: 6px;
  border: 1px solid var(--foreground);
  box-sizing: border-box;
  display: inline-flex;
  gap: 6px;
  border-radius: 6px;
  align-items: center;
  color: var(--foreground);
}

#settings-menu label:has(:checked) {
  background: var(--foreground);
  color: var(--background);
}

.credit {
  font-style: italic;
  font-size: 14px;
}
